
  /*---------------------
  About Section
-----------------------*/

.about-section {
    .section-title {
      margin-bottom: 0;
    }
  }
  
  .about-img {
    img {
      position: relative;
      left: -43px;
      top: -15px;
    }
  }
  
  .about-text {
    padding-top: 82px;
    p {
      margin-bottom: 60px;
    }
  }


  @media (max-width: 1330px) {
    .about-img img {
      left: 0;
      top: 0;
    }
    .banner-card {
      left: 0;
    }
  }
  

  @media only screen and (min-width: 768px) and (max-width: 991px) {
.about-img {
  text-align: center;
  padding-top: 80px;
}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
.about-img {
    text-align: center;
    padding-top: 80px;
  }
}