.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: black;
}

.containerTab {
    padding: 20px;
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.closebtn {
    float: right;
    color: black;
    font-size: 35px;
    cursor: pointer;
}

.closebtn1 {
    float: left;
    color: black;
    font-size: 35px;
    cursor: pointer;
}